<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>KPCL</title>

    <!-- vendor css
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/highlightjs/github.css" rel="stylesheet">
    <link href="../lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
	<link rel="stylesheet" href="../css/custom_css.css"> -->

<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/highlightjs/github.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/select2/css/select2.min.css')}}" rel="stylesheet">

	
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	
<!-- Script for socketio -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


	</head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <!-- ########## START: LEFT PANEL ########## -->
   <div class="br-logo"><a href=""><span></span>KPCL<span></span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
           <li class="nav-item"><a href="http://10.21.4.90:5001/live1.html" class="nav-link active">Testbed 1 &nbsp;&nbsp;&nbsp;<i id='test_status' class="fa fa-circle" style="color: red;"></i></a></li>
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link active">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>

    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader ">
   
          
      </div><!-- br-pageheader -->
     

      <div class="br-pagebody">

<!--NAVBAR CODE HERE-->
	<nav class="navbar navbar-expand-md  navbar-dark bg-dark pd-x-10 pd-sm-x-20  pd-sm-t-10 ">   
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				 Views&nbsp;<span class="icon ion-grid"></span>
			</button>	
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">		
					<a href="live1.html" class="nav-item nav-link navbar-font">Basic Info</a>
					<a href="live2.html" class="nav-item nav-link navbar-font" >Live Charts</a>
					<a href="live3.html" class="nav-item nav-link navbar-font">Flow View</a>
					<a href="live4.html" class="nav-item nav-link navbar-font">Digital Twin</a>
					<a href="live5.html" class="nav-item nav-link active navbar-custom-active">Report View</a>
					<a href="live7.html" class="nav-item nav-link navbar-font" >Alarms & Timeline</a>
					<a href="live8.html" class="nav-item nav-link navbar-font">Camera</a>
				</div>
			</div>
			<div class="btn-group pr-lg-5" role="group" >
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-play text-success" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo6"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-pause  text-warning" style="font-size:30px;" aria-hidden="true"data-toggle="modal" data-target="#modaldemo3"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-stop  text-danger" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo4"></i></a>
			</div>
			<div class="btn-group pl-lg-5" role="group" >
				<a href="live4.html"  class="btn btn-outline-light "><span class="fa fa-chevron-left"></span></a>
				<a href="live7.html"  class="btn btn-outline-light "><i class="fa fa-chevron-right"></i></a>
			</div>
		</nav>

        <div class="br-section-wrapper">
		
		<div class="row">
        <div class="col-6"><h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">REPORT</h6></div>
        <div class="col-6"><span class="float-right">
			
				
		</span></div>
    </div>
   
		
      
        
		<iframe id='FrameID' src="http://localhost/temp.pdf" width="100%" class="myIframe">
		<p>Hi SOF</p>
		</iframe>
		
		  <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
					
		<script type="text/javascript" language="javascript"> 
		$('.myIframe').css('height', $(window).height()+'px');
		</script>
		
          

         




   
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
      
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

   <!--export modal code here-->
    <div id="modaldemo2" class="modal fade">
        <div class="modal-dialog modal-lg" style='width:1999px;height: 600px'>
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20 justify-content-center bg-gray-300 ">
              
                
               
                <h6 class="tx-gray-800 tx-uppercase tx-bold tx-18 mg-b-10">REPORT</h6>
                  
            </div>
            <div class="modal-body pd-20">
			
                   
            </div><!-- modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary tx-size-xs" onclick="def()">Save Excel</button>
              <button type="button" class="btn btn-primary tx-size-xs" onclick="abc()">Save CSV</button>
    
              <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div><!-- modal-dialog -->
      </div><!-- modal -->
      <!--export modal code end here-->



      <div id="modaldemo3" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 bg-warning">
                      <div class="pd-40">
                        
                      <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
                <h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to reason </h4>
                
              
                        
                       
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                          <b>Please Select Department :</br></b>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Quality</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Management</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Misc</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Alarms</span>
                            </label><label class="ckbox">
                              <input type="checkbox">
                              <span>Testbed error</span>
                            </label>
                                                            
                            <div class="form-group">
                                Reason for pause
                              <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                            </div><!-- form-group -->
                            
                           
                            <button class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>
      
                            <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->
      
                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->
      
      
      
            <div id="modaldemo4" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                    <div class="modal-body pd-0">
                      <div class="row no-gutters">
                        <div class="col-lg-6 bg-danger">
                          <div class="pd-40">
                            
                          <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
                    <h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to reason </h4>
                    
                  
                            
                           
                            </div>
                          </div><!-- col-6 -->
                          <div class="col-lg-6 bg-white">
                            <div class="pd-30">
                              <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <div class="pd-x-30 pd-y-10">
                              <b>Please Select Department :</br></b>
                                <label class="ckbox">
                                  <input type="checkbox">
                                  <span>Quality</span>
                                </label>
                                <label class="ckbox">
                                  <input type="checkbox">
                                  <span>Management</span>
                                </label>
                                <label class="ckbox">
                                  <input type="checkbox">
                                  <span>Misc</span>
                                </label>
                                <label class="ckbox">
                                  <input type="checkbox">
                                  <span>Alarms</span>
                                </label><label class="ckbox">
                                  <input type="checkbox">
                                  <span>Testbed error</span>
                                </label>
                                                                
                                <div class="form-group">
                                    Reason for stop
                                  <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                                </div><!-- form-group -->
                                
                               
                                <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>
        
                                <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                              </div>
                            </div><!-- pd-20 -->
                          </div><!-- col-6 -->
                        </div><!-- row -->
        
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
                </div><!-- modal -->
      
      
      
      
                <div id="modaldemo6" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                      <div class="modal-body pd-0">
                        <div class="row no-gutters">
                          <div class="col-lg-6 bg-primary">
                            <div class="pd-40">
                              
                              <p class="tx-white tx-13">
                                <span class="tx-uppercase tx-medium d-block mg-b-15"><!--type here--></span>
                                                    <center><img src='start.jpg' style='height:80%;width:80%'></img></center></p>
                                <span class="op-7 tx-white">Screw Compressor test-bed automation and analytics.</span></p>
                              </div>
                            </div><!-- col-6 -->
                            <div class="col-lg-6 bg-white">
                              <div class="pd-30">
                                <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="pd-x-30 pd-y-10">
                                  <b><h3 class="tx-inverse  mg-b-5">Welcome back!</h3></b>
                                  <p>No active tests Found.Please enter details to continue.</p>
                                  <br>
                                  <div class="form-group">
                                    <input type="text" id="tid"  name="email" class="form-control pd-y-12" placeholder="Enter Test ID" autocomplete="off">
                                    <p id="em"></p>
                                  </div><!-- form-group -->
                                  <div class="form-group">
                                    <input type="text" id="con" name="contact" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                                    <p id="cont"></p>
                                  </div><!-- form-group -->
                                  <div class="form-group mg-b-20">
                                    <input type="password" id="pass"  name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
                                    <p id="ps"></p>
                                    <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                                  </div><!-- form-group -->
      
                                  <button class="btn btn-primary pd-y-12 btn-block"  onclick="validate();">START TEST</button>
                                 
                                  
                                </div>
                              </div><!-- pd-20 -->
                            </div><!-- col-6 -->
                          </div><!-- row -->
      
                        </div><!-- modal-body -->
                      </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                  </div><!-- modal -->
      
              
      
        

<!----------------modal here-------------->


     <!-- MODAL GRID -->
    


					 
					<script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/select2/js/select2.min.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/spectrum/spectrum.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/bootstrap-tagsinput/bootstrap-tagsinput.js')}}"></script>
					<script src="{{ url_for('static', filename='lib/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>
					
					
					
					
					
					
					
					<script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
				  
					
					
					<!--
                    <script src="../lib/jquery/jquery.js"></script>
                    <script src="../lib/popper.js/popper.js"></script>
                    <script src="../lib/bootstrap/bootstrap.js"></script>
                    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
                    <script src="../lib/moment/moment.js"></script>
                    <script src="../lib/jquery-ui/jquery-ui.js"></script>
                    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
                    <script src="../lib/peity/jquery.peity.js"></script>
                    <script src="../lib/highlightjs/highlight.pack.js"></script>
                    <script src="../lib/datatables/jquery.dataTables.js"></script>
                    <script src="../lib/datatables-responsive/dataTables.responsive.js"></script>
                    <script src="../lib/select2/js/select2.min.js"></script>
                    <script src="../lib/spectrum/spectrum.js"></script>
                    <script src="../lib/jquery.maskedinput/jquery.maskedinput.js"></script>
                    <script src="../lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
                    <script src="../lib/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
                    

                
                    <script src="../js/bracket.js"></script> -->


                   


                   
                    
                    <script>
                      /*$(function(){
                        
                
                        $('#datatable').DataTable({
                          responsive: true,
                          language: {
                            searchPlaceholder: 'Search...',
                            sSearch: '',
                            lengthMenu: '_MENU_ items/page',
                          }
                        });
                
                      
                
                      });
                      $(function(){
                        
                
                        $('#datatable1').DataTable({
                          
						  "scrollX": true,
                          language: {
                            searchPlaceholder: 'Search...',
                            sSearch: '',
                            
                          }
                        });
                
                      
                
                      });*/





 
                                $(function(){

                            // showing modal with effect
                                    $('.modal-effect').on('click', function(){
                                        var effect = $(this).attr('data-effect');
                                    $('#modaldemo6').addClass(effect, function(){
                                    $('#modaldemo6').modal('show');
                                                        });
                                        return false;
                                    });

                            // hide modal with effect
                                                $('#modaldemo6').on('hidden.bs.modal', function (e) {
                                            $(this).removeClass (function (index, className) {
                                            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
                                                            });
                                                            });
                                                    });





                                        $(function(){

                                                // showing modal with effect
                                                $('.modal-effect').on('click', function(){
                                                var effect = $(this).attr('data-effect');
                                                $('#modaldemo3').addClass(effect, function(){
                                                    $('#modaldemo3').modal('show');
                                                });
                                                return false;
                                                });

                                                // hide modal with effect
                                                $('#modaldemo3').on('hidden.bs.modal', function (e) {
                                                $(this).removeClass (function (index, className) {
                                                    return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
                                                });
                                                });
                                            });





function abc(){

var m="f2.csv";

document.getElementById("f1").src=m;
}

function def(){
var m="M.xlsx";

document.getElementById("f1").src=m;
}

        str1="Hi, user !";
       document.getElementById("user").innerHTML=str1;

    </script>
     <script>
          var socket = io.connect('http://'+document.domain+':'+location.port);

socket.on('connect', function() {
   console.log('connected');
   socket.emit('serverside','Connected')
   socket.emit('live34_load',"OK");
});

socket.on('test_status', function(data) {
   console.log("test_status_change");
   console.log(data);
   document.getElementById("test_status").style.color = data ;
     

});
         </script>

  </body>
</html>



