<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Twitter -->
	<meta name="twitter:site" content="@themepixels">
	<meta name="twitter:creator" content="@themepixels">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Bracket">
	<meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
	<meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

	<!-- Facebook -->
	<meta property="og:url" content="http://themepixels.me/bracket">
	<meta property="og:title" content="Bracket">
	<meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

	<meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
	<meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="600">

	<!-- Meta -->
	<meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
	<meta name="author" content="ThemePixels">

	<title>KPCL</title>

	<!-- vendor css -->
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

	<!-- Bracket CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">


	<!-- vendor css
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS
    <link rel="stylesheet" href="../css/bracket.css">
	<link rel="stylesheet" href="../css/custom_css.css">-->

	<!-- Script for socketio -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


</head>

<body>

	<!-- ########## START: LEFT PANEL ########## -->
	<div class="br-logo"><a href=""><span></span>KPCL<span></span></a></div>
	<div class="br-sideleft overflow-y-auto">
		<label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
		<div class="br-sideleft-menu">
			<a href="table-datatable3.html" class="br-menu-link">
				<div class="br-menu-item">
					<i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
					<span class="menu-item-label">All Projects</span>
				</div><!-- menu-item -->
			</a><!-- br-menu-link -->

			<a href="live1.html" class="br-menu-link active show-sub">
				<div class="br-menu-item">
					<i class="menu-item-icon icon ion-pie-graph tx-24"></i>
					<span class="menu-item-label">Compressor Test</span>
					<i class="menu-item-arrow fa fa-angle-down"></i>
				</div><!-- menu-item -->
			</a><!-- br-menu-link -->
			<ul class="br-menu-sub nav flex-column">
				<li class="nav-item"><a href="http://10.21.4.90:5001/live1.html" class="nav-link active">Testbed 1
						&nbsp;&nbsp;&nbsp;<i id='test_status' class="fa fa-circle" style="color: red;"></i></a></li>


			</ul>




			<a href="dashboard.html" class="br-menu-link ">
				<div class="br-menu-item">
					<i class="menu-item-icon icon ion-stats-bars tx-24"></i>
					<span class="menu-item-label">Analytics</span>
					<i class="menu-item-arrow fa fa-angle-down"></i>
				</div><!-- menu-item -->
			</a><!-- br-menu-link -->
			<ul class="br-menu-sub nav flex-column">
				<li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
				<li class="nav-item"><a href="testbed1.html" class="nav-link active">Digital Twin</a></li>
				<li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
				<li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
				<li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>

			</ul>
			<a href="profile.html" class="br-menu-link">
				<div class="br-menu-item">
					<i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
					<span class="menu-item-label">Profile Setting</span>
				</div><!-- menu-item -->
			</a><!-- br-menu-link -->


			<a href="contact.html" class="br-menu-link">
				<div class="br-menu-item">
					<i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
					<span class="menu-item-label">Contact Us</span>
				</div><!-- menu-item -->
			</a><!-- br-menu-link -->







		</div>
	</div><!-- br-sideleft -->
	<!-- ########## END: LEFT PANEL ########## -->

	<!-- ########## START: HEAD PANEL ########## -->
	<div class="br-header">
		<div class="br-header-left">
			<div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i
						class="icon ion-navicon-round"></i></a></div>
			<div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
						class="icon ion-navicon-round"></i></a></div>

		</div><!-- br-header-left -->
		<!--div right side bar-->
		<div class="br-header-right">
			<div class="dropdown">
				<a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
					<span class="logged-name hidden-md-down" id="user"></span>
					<img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
					<span class="square-10 bg-success"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-header wd-200">
					<ul class="list-unstyled user-profile-nav">


						<li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
					</ul>
				</div><!-- dropdown-menu -->
			</div><!-- dropdown -->
		</div>
		<!--div right side end here-->

	</div><!-- br-sideright -->
	<!-- ########## END: HEAD PANEL ########## -->

	<!-- ########## START: RIGHT PANEL ########## -->

	<!-- ########## END: RIGHT PANEL ########## --->

	<!-- ########## START: MAIN PANEL ########## -->
	<div class="br-mainpanel">
		<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
		</div><!-- ht-65 -->

		<div class="br-pagebody">



			<nav class="navbar navbar-expand-md  navbar-dark bg-dark pd-x-10 pd-sm-x-20  pd-sm-t-10 ">
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					Views&nbsp;<span class="icon ion-grid"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav">
						<a href="live1.html" class="nav-item nav-link active navbar-custom-active">Basic Info</a>
						<a href="live2.html" class="nav-item nav-link navbar-font">Live Charts</a>
						<a href="live3.html" class="nav-item nav-link navbar-font">Flow View</a>
						<a href="live4.html" class="nav-item nav-link">Digital Twin</a>
						<a href="live5.html" class="nav-item nav-link navbar-font">Report View</a>
						<a href="live7.html" class="nav-item nav-link navbar-font">Alarms & Timeline</a>
						<a href="live8.html" class="nav-item nav-link navbar-font">Camera</a>
					</div>
				</div>
				<div class="btn-group pr-lg-5" role="group">
					<a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-play text-success"
							style="font-size:30px;" aria-hidden="true" data-toggle="modal"
							data-target="#modaldemo6"></i></a>
					<a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-pause  text-warning"
							style="font-size:30px;" aria-hidden="true" data-toggle="modal"
							data-target="#modaldemo3"></i></a>
					<a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-stop  text-danger"
							style="font-size:30px;" aria-hidden="true" data-toggle="modal"
							data-target="#modaldemo4"></i></a>
				</div>
				<div class="btn-group pl-lg-5" role="group">
					<a href="" class="btn btn-outline-light disabled"><span class="fa fa-chevron-left"></span></a>
					<a href="live2.html" class="btn btn-outline-light "><i class="fa fa-chevron-right"></i></a>
				</div>
			</nav>

			<div class="br-section-wrapper">

				<h6 class="tx-primary tx-bold tx-14 mg-b-10">Basic Information</h6>




				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Motor Make</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='motor_make' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Motor KW</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='motor_kw' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Motor Sr.No.</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='motor_srno' placeholder="" type="text">


					</div>

				</div>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Motor RPM</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='motor_rpm' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Efficiency </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='motor_eff' placeholder="" type="text">
					</div>


				</div>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Motor Make</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='fan_motor_make' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Fan Motor KW</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='fan_motor_kw' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Fan Motor Sr.No.</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='fan_motor_srno' placeholder="" type="text">


					</div>

				</div>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Fan Motor RPM</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='fan_motor_rpm' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Fan Motor Efficiency </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='fan_motor_eff' placeholder="" type="text">
					</div>


				</div>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">OA Number</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='oa_number' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">SBM Number </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='sbm_number' placeholder="" type="text">
					</div>
				</div>

				<div class="row pt-2">
					<div class="col-lg-2 col-3">
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Noise Measurement</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='noise_measurement' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Suction For MM</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='suction_for_mm' placeholder="" type="text">
					</div>

				</div>
				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Test Date</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='test_date' placeholder="--" type="text" readonly>
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Test Start Time </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='test_start_time' placeholder="--" type="text" readonly>
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Test Stop Time</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='test_stop_time' placeholder="--" type="text" readonly>
					</div>



				</div>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Test Duration (min.)</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='test_duration' placeholder="--" type="text">
					</div>

				</div>





				<h6 class="tx-primary tx-bold tx-14 mg-b-10 pt-2">Test Incharge Details</h6>

				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Test ID</h6>
					</div>

					<div class='col-lg-2 col-3'>
						<input class="form-control" id='test_id' placeholder="" type="text" readonly>
					</div>

				</div>

				

				<div class='row pt-2'>

					<div class='col-lg-2 col-2'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Assembly Engineer </h6>
					</div>
					<div class='col-lg-2 col-2'>
						<input class="form-control" id='assembly_incharge' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-2'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">QA Engineer</h6>
					</div>
					<div class='col-lg-2 col-2'>
						<input class="form-control" id='qa_incharge' placeholder="--" type="text">
					</div>

					<div class='col-lg-2 col-2'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Tested By</h6>
					</div>
					<div class='col-lg-2 col-2'>
						<input class="form-control" id='tested_by' placeholder="" type="text">
					</div>



				</div>


				<h6 class="tx-primary tx-bold tx-14 mg-b-10 pt-2">Ambient Condition Details</h6>

				<div class='row pt-2'>


					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Ambient Pressure(mmHg)</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='ambient_pressure' value="720.1" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Ambient Temperature(C)</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='ambient_temperature' value="31" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Ambient Humidity(%)</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='ambient_humidity' value="62" type="text">
					</div>

				</div>

				<h6 class="tx-primary tx-bold tx-14 mg-b-10 pt-2">Model Details</h6>

				<div class='row pt-2'>


					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Actual Operating Pressure KW</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='actual_operating_pressure' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Compressor Serial Number</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='compressor_serial_no' placeholder="" type="text">
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Suction Drop (mmH20) </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='suction_drop' placeholder="" type="text">
					</div>





				</div>


				<div class='row pt-2'>


					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Actual RPM </h6>
					</div>
					<div class='col-lg-2 col-3'>
						<input class="form-control" id='actual_RPM' placeholder="" type="text">
					</div>
				</div>



				<div class='row pt-2'>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Model</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<div class="form-group mg-b-20" id='model_options'>
						</div><!-- form-group -->
					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Series</h6>
					</div>
					<div class='col-lg-2 col-3'>

						<div class="form-group mg-b-20" id='series_options'>
						</div><!-- form-group -->


					</div>

					<div class='col-lg-2 col-3'>
						<h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Operating Pressure</h6>
					</div>
					<div class='col-lg-2 col-3'>
						<div class="form-group mg-b-20" id='pressure_options'>
						</div><!-- form-group -->

					</div>


				</div>


				<p id='model_status'>Select Model to continue.</p>

				<button class="btn btn-primary pd-y-12 btn-block" onclick="validate();">Save Details</button>

				<h6 class="tx-primary tx-bold tx-14 mg-b-10 pt-2">Test Specification Details</h6>
				<div id="error"></div>
				<div class="bd bd-gray-300 rounded table-responsive table-bordered table-hover">
					<table class="table table-striped mg-b-0">
						<thead>
							<tr>
								<th>PARAMETER</th>
								<th>VALUE</th>
								<th>PARAMETER</th>
								<th>VALUE</th>
							</tr>
						</thead>
						<tbody id="data_entry"></tbody>
					</table>
				</div><!-- bd -->

				<script>
					var data = {
						'Model': "",
						'Kw': "",
						'Pressure': "",
						'Safety Valve Pressure': "",
						' Std FAD in CFM': "",
						'Std  FAD in m3/min': "",
						' Min FAD in CFM': "",
						' Max FAD in CFM': "",
						'Tolerance for CFM in %': "",
						'Std Normal Shaft Power (Load)(kw/CFM)': "",
						'Min Normal Shaft Power (Load)(kw/CFM)': "",
						'Max Normal Shaft Power (Load)(kw/CFM)': "",
						'Tolerance for Power (Load)in %': "",
						'Normal Power (Unload)': "",
						'Tolerance for Power (Unload) in %': "",
						'Loading Pressure': "",
						'Unloading Pressure': "",
						'Operating Pressure': "",
						'Nozzle Size': "",
						'Series': "",
					};

					var keys = Object.keys(data);
					console.log(keys);
					var innerhtml = "";
					for (var i = 0; i <= keys.length - 1; i++) {

						innerhtml = innerhtml + "<tr>" +
							"<td>" + keys[i] + "</td>" +
							"<td id='" + keys[i] + "' >" + data[keys[i]] + "</td>" +
							"<td>" + keys[i + 1] + "</td>" +
							"<td id='" + keys[i + 1] + "'>" + data[keys[i + 1]] + "</td>" +
							"</tr>";

						i++;
					}
					console.log(innerhtml);
					document.getElementById("data_entry").innerHTML = innerhtml;



				</script>
			</div>
		</div><!-- br-pagebody -->



	</div><!-- br-mainpanel -->
	<!-- ########## END: MAIN PANEL ########## -->




	<div id="modaldemo3" class="modal fade">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
				<div class="modal-body pd-0">
					<div class="row no-gutters">
						<div class="col-lg-6 bg-warning">
							<div class="pd-40">

								<i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
								<h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to
									reason </h4>




							</div>
						</div><!-- col-6 -->
						<div class="col-lg-6 bg-white">
							<div class="pd-30">
								<button type="button" class="close tx-40 tx-danger" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="pd-x-30 pd-y-10">
									<b>Please Select Department :</br></b>
									<label class="ckbox">
										<input type="checkbox">
										<span>Quality</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Management</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Misc</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Alarms</span>
									</label><label class="ckbox">
										<input type="checkbox">
										<span>Testbed error</span>
									</label>

									<div class="form-group">
										Reason for pause
										<input class="form-control ht-100 border-warning" placeholder="Details of pause"
											type="textarea">
									</div><!-- form-group -->


									<button onclick="pause();" class="btn btn-outline-warning pd-y-12 btn-block">Send
										for review </button>

									<div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a>
									</div>
								</div>
							</div><!-- pd-20 -->
						</div><!-- col-6 -->
					</div><!-- row -->

				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->



	<div id="modaldemo4" class="modal fade">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
				<div class="modal-body pd-0">
					<div class="row no-gutters">
						<div class="col-lg-6 bg-danger">
							<div class="pd-40">

								<i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
								<h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to
									reason </h4>




							</div>
						</div><!-- col-6 -->
						<div class="col-lg-6 bg-white">
							<div class="pd-30">
								<button type="button" class="close tx-40 tx-danger" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="pd-x-30 pd-y-10">
									<b>Please Select Department :</br></b>
									<label class="ckbox">
										<input type="checkbox">
										<span>Quality</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Management</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Misc</span>
									</label>
									<label class="ckbox">
										<input type="checkbox">
										<span>Alarms</span>
									</label><label class="ckbox">
										<input type="checkbox">
										<span>Testbed error</span>
									</label>

									<div class="form-group">
										Reason for stop
										<input class="form-control ht-100 border-danger" placeholder="Details of stop"
											type="textarea">
									</div><!-- form-group -->


									<button onclick="stop();" class="btn btn-outline-danger pd-y-12 btn-block">Stop
										Test</button>

									<div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a>
									</div>
								</div>
							</div><!-- pd-20 -->
						</div><!-- col-6 -->
					</div><!-- row -->

				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->


	<div id="modaldemo6" class="modal fade">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
				<div class="modal-body pd-0">
					<div class="row no-gutters">
						<div class="col-lg-6 bg-primary">
							<div class="pd-40">
								<center>

									<p class="tx-white tx-13">
										<span class="tx-uppercase tx-medium d-block mg-b-15">
											<!--type here--></span>
										<img src='/static/img/start.jpg' style='height:80%;width:80%'></img></p>

									<p><span class="op-7 tx-white">Screw Compressor test-bed automation and
											analytics.</span></p>
								</center>
							</div>
						</div><!-- col-6 -->
						<div class="col-lg-6 bg-white">
							<div class="pd-30">
								<button type="button" class="close tx-40 tx-danger" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="pd-x-30 pd-y-10">
									<b>
										<h3 class="tx-inverse  mg-b-5">Welcome back!</h3>
									</b>
									<p></p>
									<br>



									<script>

										var models = ['KES-7', 'KES-11', 'KES-15', 'KES-18', 'KES-22', 'KES-30', 'KES-37', 'KES-45',
											'KES-55', 'KES-55S', 'KES-75', 'KES-90', 'KES-110', 'KES-132', 'KES-160',
											'KES-18.5', 'KES-15V', 'KES-18V', 'KES-22V', 'KES-30V', 'KES-37V', 'KES-45V',
											'KES-55V', 'KES-55SV', 'KES-75V', 'KES-90V', 'KES-110V', 'KES-132V', 'KES-160V'];
										var options = '<select class="form-control select2" id="compressor_model"  data-placeholder="Choose Model">'
										var i = 0;
										for (i = 0; i < models.length; i++) {
											options += '<option value="' + models[i] + '">' + models[i] + '</option>';
										}
										options += "</select>";
										document.getElementById("model_options").innerHTML = options;

										//----------------------------------------------------  

										var unique_series = ['Maxima IE3', 'NS Series IE2', 'NS Series IE3', 'PRIMA Series IE1',
											'PRIMA Series IE2', 'ULTIMA Series IE2', 'ULTIMA Series IE3'];
										var series = '<select class="form-control select2"  id="compressor_series" data-placeholder="Choose Series">'
										var i = 0;
										for (i = 0; i < unique_series.length; i++) {
											series += '<option value="' + unique_series[i] + '">' + unique_series[i] + '</option>';
										}
										series += "</select>";
										document.getElementById("series_options").innerHTML = series;

										//----------------------------------------------------

										var unique_pressure = [7, 10, 13, 7.5, 8.5];
										var pressures = '<select class="form-control select2"  id="compressor_pressure" data-placeholder="Choose Pressure">'
										var i = 0;
										for (i = 0; i < unique_pressure.length; i++) {
											pressures += '<option value="' + unique_pressure[i] + '">' + unique_pressure[i] + '</option>';
										}
										pressures += "</select>";
										document.getElementById("pressure_options").innerHTML = pressures;


									</script>

									<button class="btn btn-primary pd-y-12 btn-block" onclick="validate2();">Start
										Test</button>
									<p><span id="test_status_instructions" class="op-3 tx-black">Please click Start to
											begin the test.</span></p>


								</div>
							</div><!-- pd-20 -->
						</div><!-- col-6 -->
					</div><!-- row -->

				</div><!-- modal-body -->
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->

	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

	<script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
	<!-- modal-->
	<script type="text/javascript">

		var socket = io.connect('http://' + document.domain + ':' + location.port);

		socket.on('connect', function () {
			console.log('connected');
			socket.emit('serverside', 'Connected');
			socket.emit('live1_load', 'Connected');


		});

		socket.on('message', function (data) {
			console.log("Message Recevied");
			console.log(data);


		});

		socket.on('test_status', function (data) {
			console.log("test_status_change");
			console.log(data);
			document.getElementById("test_status").style.color = data;


		});


		socket.on('test_start_details', function (data) {
			console.log("test_start_details");
			console.log(data);
			document.getElementById("test_id").value = data['test_id'];
			document.getElementById("test_start_time").value = data['test_start_time'];
			document.getElementById("test_date").value = data['test_date'];
			document.getElementById("test_status_instructions").innerHTML = data['test_status_instructions'];


		});

		socket.on('test_stop_details', function (data) {
			console.log("test_stop_details");
			console.log(data);
			document.getElementById("test_stop_time").value = data['test_stop_time'];


		});



		socket.on('model_details_status', function (data) {
			console.log(data);
			document.getElementById("model_status").innerHTML = data;

		});

		socket.on('model_details', function (data) {
			console.log("Model Details received");

			/*
			console.log(keys);
			var i=0;
			for(i=0;i<keys.length;i++){
		    
			var element =  document.getElementById(String(keys[i]));
			   if (typeof(element) != 'undefined' && element != null)
			   {
				 // exists.
				 element.innerHTML = data[keys[i]];
				//console.log(keys[i]) 
			   }
		    
			}*/


		});


		socket.on('model_details', function (data) {
			console.log("Model Details received");

			const keys = Object.keys(data);
			console.log(keys);
			var i = 0;
			for (i = 0; i < keys.length; i++) {

				var element = document.getElementById(String(keys[i]));
				if (typeof (element) != 'undefined' && element != null) {
					// exists.
					element.innerHTML = data[keys[i]];
					//console.log(keys[i]) 
				}

			}


		});

		socket.on('basic_details', function (data) {
			console.log("Basic Details received");

			const keys = Object.keys(data);
			console.log(keys);
			var i = 0;
			for (i = 0; i < keys.length; i++) {

				var element = document.getElementById(String(keys[i]));
				if (typeof (element) != 'undefined' && element != null) {
					// exists.
					element.value = data[keys[i]];
					//console.log(keys[i]) 
				}

			}


		});



		function validate() {
			var to_send = {
				'compressor_model': (document.getElementById('compressor_model').value),
				'compressor_series': (document.getElementById("compressor_series").value),
				'compressor_pressure': (document.getElementById("compressor_pressure").value),
				'suction_drop': (document.getElementById("suction_drop").value),
				'motor_rpm': (document.getElementById("motor_rpm").value),
				'transaction_details': 'test_start',
				'motor_make': (document.getElementById("motor_make").value),
				'motor_kw': (document.getElementById("motor_kw").value),
				'motor_srno': (document.getElementById("motor_srno").value),
				'motor_rpm': (document.getElementById("motor_rpm").value),
				'motor_eff': (document.getElementById("motor_eff").value),
				'fan_motor_make': (document.getElementById("fan_motor_make").value),
				'fan_motor_kw': (document.getElementById("fan_motor_kw").value),
				'fan_motor_srno': (document.getElementById("fan_motor_srno").value),
				'fan_motor_rpm': (document.getElementById("fan_motor_rpm").value),
				'fan_motor_eff': (document.getElementById("fan_motor_eff").value),
				'oa_number': (document.getElementById("oa_number").value),
				'sbm_number': (document.getElementById("sbm_number").value),
				'test_date': (document.getElementById("test_date").value),
				'test_start_time': (document.getElementById("test_start_time").value),
				'test_stop_time': (document.getElementById("test_stop_time").value),
				'test_duration': (document.getElementById("test_duration").value),
				'test_id': (document.getElementById("test_id").value),
				'assembly_incharge': (document.getElementById("assembly_incharge").value),
				'qa_incharge': (document.getElementById("qa_incharge").value),
				'actual_operating_pressure': (document.getElementById("actual_operating_pressure").value),
				'compressor_serial_no': (document.getElementById("compressor_serial_no").value),
				'suction_drop': (document.getElementById("suction_drop").value),
				'ambient_temperature': (document.getElementById("ambient_temperature").value),
				'ambient_pressure': (document.getElementById("ambient_pressure").value),
				'ambient_humidity': (document.getElementById("ambient_humidity").value),
				'actual_RPM': (document.getElementById("actual_RPM").value),


			}

			motor = {
				"Motor": {
					"Make": (document.getElementById("motor_make").value),
					"KW": (document.getElementById("motor_kw").value),
					"RPM": (document.getElementById("motor_rpm").value),
					"Efficiency": (document.getElementById("motor_eff").value),
					"Serial Number": (document.getElementById("motor_srno").value),
				}
			}

			fan_moter = {
				"Fan Motor": {
					"Make": (document.getElementById("fan_motor_make").value),
					"KW": (document.getElementById("fan_motor_kw").value),
					"RPM": (document.getElementById("fan_motor_rpm").value),
					"Efficiency": (document.getElementById("motor_eff").value),
					"Serial Number": (document.getElementById("fan_motor_srno").value),
				}
			}

			//--------------------------------Edited by Anirudh----------------------------------------------

			var user_input = {
				"Software": {
					"Compressor Model": (document.getElementById('compressor_model').value),
					"Compressor Pressure": (document.getElementById("compressor_pressure").value),
					"Compressor Sr Mo": (document.getElementById("compressor_series").value),
					"Compressor Sr No":(document.getElementById("compressor_serial_no").value),
					"OA Number": (document.getElementById("oa_number").value),
					"Motor": motor["Motor"],
					"Fan Motor": fan_moter["Fan Motor"],
					"Controller Program Version": "",
					"SBM Number": (document.getElementById("sbm_number").value),
					"Test Date": (document.getElementById("test_date").value),
					"Test Start Time": (document.getElementById("test_start_time").value),
					"Test Stop Time": (document.getElementById("test_stop_time").value),
					"Nozzle Diameter": "",
					"Suction For MM":(document.getElementById("suction_for_mm").value),
					"Safety Valve Pressure": "",
					"Loading Pressure in Kg/cm2": "",
					"Unloading Pressure in Kg/cm2": "",
					"Tested By": (document.getElementById("tested_by").value),
					"Assembly Engineer": (document.getElementById("assembly_incharge").value),
					"QA Engineer": (document.getElementById("qa_incharge").value),
					"Noise Measurement": (document.getElementById("noise_measurement").value),
					"Remark": "",
					"Test Status": "",
					"Fail Reason": "",
				}, 
				"Calculations": {
					"FAD in m3/min": "",
					"Condensate": "",
					"FAD Corrected": "",
					"FAD in CFM": "",
					"Motor Output Power Observed": "",
					"Motor Output Power Corrected": "",
				},
				"Ideal": {
					"Air Delivery Pressure in Kg/cm2": "",
					"Motor RPM": "",
					"FAD Corrected": "",
					"FAD in CFM": "",
					"Voltage": "",
					"Power": "",
					"Motor Output Power Corrected": "",
				},
				"Data": [],

				"Reading 1 Timestamp": "",
				"Reading 2 Timestamp": "",
				"Reading 3 Timestamp": "",
				"Reading 4 Timestamp": "",
				'Test Duration': (document.getElementById("test_duration").value),
				"No Load Reading Timestamp": "",
				"Safety Valve Start Timestamp": [],
				"Interval Mins": "",
				"Gateway ID": "GTID_1",
				"Issue": [],
				"Reasons": [],
				"Downtime": [],
			}


			socket.emit('form_data', user_input)

			//-----------------------------------------------------------------------------------------------


			console.log("Basic Details Sent")
			console.log(to_send);
			socket.emit('basic_details', to_send);

		}

		socket.on("Test_Specification_Details", function (data) {

			if (data != 0) {
				var keys = Object.keys(data);
				console.log(keys);
				var innerhtml = "";
				for (var i = 0; i <= keys.length - 1; i++) {

					innerhtml = innerhtml + "<tr>" +
						"<td>" + keys[i] + "</td>" +
						"<td id='" + keys[i] + "' >" + data[keys[i]] + "</td>" +
						"<td>" + keys[i + 1] + "</td>" +
						"<td id='" + keys[i + 1] + "'>" + data[keys[i + 1]] + "</td>" +
						"</tr>";

					i++;
				}
				console.log(innerhtml);
				document.getElementById("error").innerHTML = "<span class='text-danger'></span>"
				document.getElementById("data_entry").innerHTML = innerhtml;
			} else {
				document.getElementById("error").innerHTML = "<span class='text-danger'>There Is No Such A Compressor. Please Check Details!</span>"
			}
		})


		function validate2() {
			socket.emit('start_test', "Start");

		}
		function pause() {
			socket.emit('pause_test', "Pause");
		}
		function stop() {
			socket.emit('stop_test', "Stop");
		}



		function CreateArrays() {

			var res = "createarray";
			console.log(res);
			socket.emit('serverside', res);
		}

	</script>





	<!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>-->
	<script>
		str1 = "Hi, user !";
		document.getElementById("user").innerHTML = str1;
	</script>
</body>

</html>